.all-birthdays-table {
  width: 70vw;
  max-width: 800px;
}

.all-birthdays-table tr th {
  background-color: #596886 !important;
  color: #fff;
}

.edit-button {
  color: #013dc4;
  cursor: pointer;
}

.delete-button {
  color: red;
  cursor: pointer;
}

.questionmark {
  color: red !important;
}

.popup-button {
  border-radius: 10px;
}

.all-birthdays-search-field {
  width: 120px;
}

.search-button {
  width: 28px;
}

.clear-button {
  width: 28px;
}

@media screen and (max-width: 720px) {
  .all-birthdays-table {
    width: 100vw;
  }
}



/* edit birthday modal */
.ant-modal-title {
  text-align: center;
}

.edit-birthday-input-field {
  border-radius: 10px;
}

.edit-birthday-date-field {
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.edit-birthday-button-container {
  display: flex;
  justify-content: center;
}

.edit-birthday-cancel-button {
  margin-left: 10px;
}

.edit-birthday-cancel-button, .edit-birthday-save-button {
  border-radius: 10px;
}