.todays-birthdays-table {
  width: 70vw;
  max-width: 800px;
  /* margin: auto auto; */
}

.todays-birthdays-table tr th {
  background-color: #596886 !important;
  color: #fff;
}

.send-mail-button {
  color: #596886;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .todays-birthdays-table {
    width: 100vw;
  }
}



/* send email modal */
.send-email-input-field {
  border-radius: 10px;
}

.send-email-button-container {
  display: flex;
  justify-content: center;
}

.send-email-cancel-button {
  margin-left: 10px;
}

.send-email-cancel-button, .send-email-save-button {
  border-radius: 10px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .send-email-button-container {
    margin-top: 40px;
  }
}