.logo-menu-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.app-logo-on-the-header {
  width: 200px;
  margin-top: 15px;
}

.lower-menu-buttons-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
}

.shown-on-smaller-screens {
  display: none;
}

.shown-on-bigger-screens {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .shown-on-bigger-screens {
    display: none;
  }

  .shown-on-smaller-screens {
    display: inline-block;
  }
}