.upcoming-birthdays-table {
  width: 70vw;
  max-width: 800px;
}

.upcoming-birthdays-table tr th {
  background-color: #596886 !important;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .upcoming-birthdays-table {
    width: 100vw;
  }
}