.add-birthday-page-main-content {
  text-align: center;
}

.add-birthday-page-title {
  margin: 50px;
  color: #3b4966 !important;
}

@media screen and (max-width: 600px) {
  .add-birthday-page-title {
    margin: 20px
  }
}