.main-content {
  text-align: center;
  display: grid;
  place-items: center;
}

.title-style {
  margin: 50px;
  color: #3b4966 !important;
}

@media screen and (max-width: 600px) {
  .title-style {
    margin: 20px
  }
}