@import 'antd/dist/antd.css';

.mainDiv {
  text-align: center;
  height: 100vh;
  display: grid;
  place-items: center;
}

.homePageContent {
  background-image: url('HomePageIMG.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 800px;
  padding-top: 180px;
}

.ant-image-img {
  width: 200px;
  padding: 30px 0px
}

.homePageBTN {
  width: 100px;
  border-radius: 10px;
  /* border: groove lightblue 0px; */
}

@media screen and (max-width: 800px) {
  .mainDiv {
    width: 100vw;
  }
  
  .homePageContent {
    padding-top: 140px;
    max-width: 100vw;
    max-height: 100vh;
  }
}

@media screen and (max-width: 660px) {
  .mainDiv {
    width: 100vw;
  }

  .homePageContent {
    background-image: none;
    padding-top: 0px;
    max-width: 90vw;
    max-height: 90vh;
  }
}